

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Roboto:ital,wght@1,100&display=swap');
/* font-family: 'Bungee', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Roboto', sans-serif; */


/* button {
    background-color: bisque;
    color: chocolate;
    border-radius: 5px;
    border-radius: 0 2px 4px rgba(0, 0, 0, .2);
    padding: 10px 25px;
} */

.viewMoreDiv{
    top: 10vh;
    left:200px;
    width: 30vw;
    height:30wh;
    background-color:rgba(124,0,0,.2)
}

/* grid container for homepage */
.container1{
    /* height: 500vh;
    width: 500vw; */
    /* display: grid;
    grid-template-columns: .25fr 1fr 1fr;
    grid-template-rows: 1fr 9fr; */
    
    position: relative;
    display: grid;
    height: 100vh;
    width: 99.35vw;
 
    /* grid-template-columns: 1fr .5fr .5fr .5fr 1fr ; */
    grid-template-columns: repeat(8,1fr) ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}  

.homepgTitle{
    font-family: Bungee, 'Franklin Gothic Medium',  sans-serif;
    font-size: 5vw;
    color: brown;
    grid-column-start: 9;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width:150vw;
}

label{
    font-weight: bold;
    font-size: 1.1em;
    background-image: linear-gradient(to right top, #88e0f2, #89dafd, #96d3ff, #aacaff, #c2c0ff, #dab8f6, #efafe7, #ffa8d3, #ffa6b5, #ffad90, #ffbe6b, #f7d552);
}
#new-art{
   height:40vh ;
   width: 35vw;
   margin-top: 5vh;
}

.displayArt{
    height:40vh ;
    width: 35vw;
    grid-row: 2/4;
    grid-column: 3/6 ;
}

 .displayMore{
    height:40vh ;
    width: 35vw;
    border: 3px solid rgba(124,0,0,.4); 
    background-color: rgba(222, 170, 107, .6);
    grid-row-start: 2 ;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 9;
    margin-top: 5vh;
    font-weight: bold;
    font-size: 1.1em;
}


.homeNav {
    grid-column: 1;
    grid-row: 1/9;
    background-color: rgba(255, 157, 80, .5);
    height: 100%;
    margin-top: -11;
    margin-left: -11;
    background-image: url('./assets/images/totem_pole3.png');
    opacity: .8;
}

.homeUl{
    height: 80%;
    margin-top: -1;
    margin-left: -3; 
    background-color: rgba(255, 157, 80, .5);
   ;
}

ul li a:hover {
    background-color: black;
    border-radius: 20% / 50%;
    color: goldenrod;
    transform: scale(1.5);
    transition: all .2s ease-in-out;
  }

.link1, .link2,.link3 {
    list-style:none;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(42, 25, 4);
    /* background-color:  cyan; */
}



.link1{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.link2{

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.link3{

    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.homePage{
    background-image: url('./assets/images/ancient-art-sunny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 

.homeMain{
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}


.modernArtPage {
    background-image: url('./assets/images/architecture-2287327_1920.jpg');
    background-size: cover;
}
.aboutPage {
    background-image: url('./assets/images/woman-colorFace.png');
    background-size: cover;
}
.contactPage {
    background-image: url('./assets/images/lagoon-2105231_1920.jpg');
    background-size: cover;
}

/* art modal */

  .hidden{
    display: none;
  }

  .visible{
    display: block;
  }



  /* ipad mini  */
  @media (max-width: 768px){
    /* when tested mq does not works for this one  - don't know why */
    .displayArt {
      margin-left: -8vw;
      height: 35vh;
    }

    #new-art{
        margin-left: -8vw;
        height: 32vh;
        width: 60vh;
    }

    .displayMore{
        margin-left: -8vw;
        height: 35vh;
    }
}


/* Galaxy S20 */
@media (max-width: 415px){

    .displayArt {
        width: 55vw;
        margin-left: 10vw;
        height: 45vh;
        grid-column: 2/4;
    }
    #new-art{
        width: 72vw;
    }
    .displayMore{
     width: 73vw ;
     margin-top: 17vh;
     grid-row: 3;
     grid-column: 2/4;
     margin-left: 2vw;
    }
}